@import 'null.scss';

.wrapper {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header {}

.conteiner {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width:1170px) {
    .conteiner {
        max-width: 970px;
    }
}

@media (max-width:970px) {
    .conteiner {
        max-width: 768px;
    }
}

@media (max-width:768px) {
    .header-row {
        flex-wrap: wrap;
    }

    .header-row__image {
        margin: 10px auto;
    }

    .main-columns {
        display: flex;
        flex-direction: column;
    }

    .contacts-row {
        padding: 20px;
        background-color: #3f3f3f;
        display: flex;
        justify-content: space-around;
        color: aliceblue;
        height: 100px;
        text-decoration: none;
        align-items: center;
        text-align: center;
        font-size: 15px;

    }
}

.header-row {
    padding: 0 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;


}

.header-row__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-row__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    text-transform: uppercase;
    color: #111111;
    letter-spacing: 2px;

    p {
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.header-row__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 23.7px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #363636;
    margin-top: 30px;
}

.header-row__image {
    max-width: 300px;


    .photo {
        max-width: 100%;
        max-height: 100%;
        padding: 5px;


    }

}


.main {}

.main-columns {
    display: flex;

}

.main-column__left {
    flex: 1 0 60%;
    min-height: 100vh;
}

.contacts {}

.contacts-row {
    padding: 20px;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    height: 100px;
    text-decoration: none;
    align-items: center;
    text-align: center;

}

.phone {}

.title-text {
    padding-bottom: 10px;
    font-size: 20px;
}

.email {
    a {
        color: white;

        a:hover {
            color: red;
        }
    }

}

.address {}



.main-column__right {
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 50px 40px 0px 20px;
    min-height: 100vh;


}

.conteiner-columns {}

.education-block {}

.education__row {}

.education__title {}

.education__subtitle {
    font-family: 'Roboto', sans-serif;
}

.title__content {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 58px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #111111;
    padding-top: 20px;
}

.date {
    padding: 20px 0px;
    font-size: 34px;
    line-height: 33px;
    font-weight: 300;
    color: #707070;
}

.ed-university {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 33px;
    font-weight: 300;
    color: #464646;
    padding: 15px 0px;
}

.ed-text {
    color: #433b3b;
    font-size: 20px;
    line-height: 22px;
    font-weight: 800;
    text-transform: lowercase;
    padding-bottom: 20px;

}

.footer {
    background: #b6aaaa;
}

.footer-row {
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;

}

.footer__text {
    font-size: 600;
    color: rgb(255, 255, 255);
}

.experience-row {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.experiens__title {}

.experiens__work-row {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.experiens__work-head {
    display: flex;
    justify-content: space-between;
}

.experiens__block-style {
    padding: 10px 10px;
    font-size: 18px;
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(107, 108, 109) 50%) right;
    background-size: 200%;
    transition: 0.5s ease;
    border: 5px solid rgb(107, 108, 109);
}

.experiens__block-style:hover {
    background-position: left;
    color: white;

}

.border-box {
    display: flex;
}

.experiens__workplace {}

.experiens__workdate {}

.experiens__job-title {
    color: #6f6f6f;
    line-height: 22px;
    padding: 20px 0px;
    text-transform: uppercase;
    font-weight: 600;
}


.experiens__list {
    line-height: 30px;
    font-size: 18px;

    li::before {
        content: '- ';

    }
}

.skills-row {
    padding: 0px 20px;
}

.skills__title {}

.title__content {}

.skills__list {

    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;

    li::before {
        content: '- ';

    }
}



.gg-instagram {
    margin: 0px 10px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 20px;
    height: 20px
}

.gg-instagram::after,
.gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}

.gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
}